Repository kevan50813/mapping-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, eslint, pytest, package

.gitlab-ci.yml:

image: python:3.8

stages:
  - lint
  - test
  - build

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PANTS_CONFIG_FILES: "pants.ci.toml"
  GIT_COMMIT: $CI_COMMIT_SHORT_SHA
  BUILD_TAG: $CI_COMMIT_REF_NAME


cache:
  key: shared-cache
  paths:
    - .cache/pip
    - .npm/
    - $HOME/.cache/pants/setup
    - $HOME/.cache/pants/named_caches
    - $HOME/.cache/pants/lmdb_store

.dist-artifacts: &dist-artifacts
  after_script:
    # list files
    - find dist
  artifacts:
    expire_in: 18h
    paths:
      - dist

flake8:
  stage: lint
  cache:
    key: shared-cache
  only:
    changes:
      - server/**/*
      - Dockerfile
      - BUILD
      - pants.*
  before_script:
    # bootstrap pants
    - ./pants --version
  script:
    - "./pants lint ::"
  after_script:
    - python -m pip install "flake8-junit-report"
    - python -m junit_conversor "dist/lint/flake8/report.txt" "junit.xml"
  artifacts:
    reports:
      junit: junit.xml

eslint:
  stage: lint
  image: node:latest
  only:
    changes:
      - app/**/*
  cache:
    key: shared-cache
  before_script:
    - cd app/
    - npm ci --cache .npm --prefer-offline
  script:
    - npm run lint_junit
  artifacts:
    reports:
      junit: junit.xml

pytest:
  services:
    - name: redislabs/redismod:latest
      alias: redis
  stage: test
  only:
    changes:
      - server/**/*
      - Dockerfile
      - BUILD
      - pants.*
  cache:
    key: shared-cache
  needs: []
  before_script:
    # Bootstrap pants
    - ./pants --version
  script:
    - "./pants test ::"
  coverage: '/TOTAL.+ ([0-9]{1,3}%)/'
  artifacts:
    when: always
    reports:
      junit: dist/coverage/python/coverage.xml

package:
  stage: build
  image: cimg/python:3.8
  cache:
    key: shared-cache
  services:
    - name: docker:dind
      alias: dockerdaemon
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://dockerdaemon:2375/
    DOCKER_TLS_CERTDIR: ""
  only:
    changes:
      - server/**/*
      - Dockerfile
      - BUILD
      - pants.*
  before_script:
    - ./pants --version
  script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
    - "./pants package Dockerfile"
    - "docker push $CI_REGISTRY_IMAGE/mapping-app:$BUILD_TAG"

Better search?
  server/src/database/controller.py
Due: flake8, pytest, package

Lint
  server/src/database/controller.py
Due: flake8, pytest, package

No .limit on queries, set number directly
  server/src/database/controller.py
Due: flake8, pytest, package

remove room index search
  server/src/database/controller.py
Due: flake8, pytest, package

Don't show labels on small rooms, add hiding for PoI and labels
  app/components/DrawMap.js
  app/components/Floorplan.js
Due: eslint

'show wifi nodes' on long-press
  app/components/DrawMap.js
  app/components/Floorplan.js
  app/components/MapButton.js
  app/components/styles.js
Due: eslint

Fix showing up and down, scan timer
  app/components/DrawMap.js
  app/components/Floorplan.js
  app/components/SearchModal.js
Due: eslint

Escape periods in search strings to enable room-number search
  app/components/SearchModal.js
Due: eslint

Much bigger weight for through-rooms
  server/src/path_finding/router.py
Due: flake8, pytest, package

Heuristic tuning...
  app/data/heuristic_training.ipynb
  app/data/heuristic_training.py
Due: eslint

Fix bug where if predicted location was floor 0 nothing would show
  app/components/DrawMap.js
  app/components/Floorplan.js
  app/ios/Podfile
Due: eslint

Add vibration feedback
  app/android/app/src/main/AndroidManifest.xml
  app/components/DrawMap.js
  app/components/Floorplan.js
  app/components/Localisation.js
  app/components/NetworkProvider.js
  app/components/styles.js
Due: eslint

Fix through-room routing
  requirements.txt
  server/src/path_finding/router.py
Due: flake8, pytest, package

fix minor bug with undefined polygon id for a given node
  app/components/DrawMap.js
Due: eslint

Highlight the destination and mark with marker, follow mode
  app/components/DrawMap.js
  app/components/Floorplan.js
  app/components/LoadFloorplan.js
Due: eslint

Various user affordances before testing
  app/components/App.js
  app/components/DrawMap.js
  app/components/Floorplan.js
  app/components/SearchModal.js
  app/components/styles.js
  app/package-lock.json
  app/package.json
Due: eslint

Change url to https to work in release mode
  app/components/App.js
Due: eslint

Https to fix in release mode
  app/components/App.js
Due: eslint

React native FS, basic logging to file
  app/android/app/src/main/java/com/map_app/MainApplication.java
  app/android/settings.gradle
  app/components/App.js
  app/components/Floorplan.js
  app/ios/Podfile
  app/package-lock.json
  app/package.json
Due: eslint

Logging
  app/components/App.js
  app/components/Floorplan.js
  app/components/NetworkProvider.js
  app/package-lock.json
  app/package.json
Due: eslint

Lint
  app/components/APVisualisation.js
  app/components/Trilateration.js
Due: eslint

Identified data issue, rectifying with removal + report note
  app/data/heuristic_training.ipynb
Due: eslint

add gpl3
  LICENSE
Due: none

Saving results for later plots
  app/data/heuristic_training.ipynb
  app/data/plot_npy/README.txt
  app/data/plot_npy/allfloor_div16_0.npy
  app/data/plot_npy/allfloor_div16_2.npy
Due: eslint

Noted best results in readme
  app/data/plot_npy/README.txt
Due: eslint

Fix testing, best params, no location button
  app/android/app/build.gradle
  app/android/app/src/main/AndroidManifest.xml
  app/components/App.js
  app/components/Floorplan.js
  app/components/NetworkProvider.js
  app/components/Trilateration.js
  app/package-lock.json
  app/package.json
Due: eslint

Lint
  app/components/Floorplan.js
Due: eslint

More data
  app/data/heuristic_training.ipynb
  app/data/plot_npy/README.txt
  app/data/plot_npy/floor0_div16_0.npy
  app/data/plot_npy/floor0_div16_2.npy
  app/data/plot_npy/floor1_div16_0.npy
  app/data/plot_npy/floor1_div16_2.npy
Due: eslint

Nearly done w/ scans. Redid bad data
  app/data/heuristic_training.ipynb
  app/data/heuristic_training.py
  app/data/plot_npy/README.txt
  app/data/plot_npy/floor0_div16_0.npy
  app/data/plot_npy/floor0_div16_2.npy
  app/data/plot_npy/floor1_div16_0.npy
  app/data/plot_npy/floor1_div16_2.npy
  app/data/plot_npy/floor2_div16_0.npy
  app/data/plot_npy/floor2_div16_2.npy
  app/data/plot_npy/floor3_div16_0.npy
  app/data/plot_npy/floor3_div16_2.npy
  app/data/plot_npy/floor4_div16_0.npy
  app/data/view_graph.py
Due: eslint

All graphs generated. Nice
  app/data/graphs/floor0_narrow.png
  app/data/graphs/floor0_wide.png
  app/data/graphs/floor1_narrow.png
  app/data/graphs/floor1_wide.png
  app/data/graphs/floor2_narrow.png
  app/data/graphs/floor2_wide.png
  app/data/graphs/floor3_narrow.png
  app/data/graphs/floor3_wide.png
  app/data/graphs/floor4_narrow.png
  app/data/graphs/floor4_wide.png
  app/data/graphs/floorALL_narrow.png
  app/data/graphs/floorALL_wide.png
  app/data/heuristic_training.ipynb
  app/data/plot_npy/README.txt
  app/data/plot_npy/floor3_div16_0.npy
  app/data/plot_npy/floor3_div16_2.npy
  app/data/plot_npy/floor4_div16_0.npy
  app/data/plot_npy/floor4_div16_2.npy
  app/data/view_graph.py
Due: eslint

Few fixes. done for real
  app/data/graphs/floor2_narrow.png
  app/data/heuristic_training.ipynb
  app/data/plot_npy/README.txt
  app/data/plot_npy/floor3_div16_2.npy
  app/data/plot_npy/floor4_div16_2.npy
  app/data/view_graph.py
Due: eslint
